
.mermaid {
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
}

.mermaid svg {
  width: 100% !important;
  max-width: 100% !important;
  height: auto !important;
}
